[versions]

java-source = "17"
java-target = "17"
java-toolchain = "17"
java-toolchainTest = "17"
kotlin-build = "1.9.22"
kotlin-target = { strictly = "1.9.22" }
kotlin-language = "1.9"

detekt = "1.23.4"

junit-jupiter = "5.10.2"
kotest = "4.0.7"


[libraries]

test-jupiter-api = { module = "org.junit.jupiter:junit-jupiter-api", version.ref = "junit-jupiter" }
test-jupiter-params = { module = "org.junit.jupiter:junit-jupiter-params", version.ref = "junit-jupiter" }
test-jupiter-engine = { module = "org.junit.jupiter:junit-jupiter-engine", version.ref = "junit-jupiter" }

test-kotest-assertions = { module = "io.kotest:kotest-assertions", version.ref = "kotest" }

[plugins]
kotlin = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin-build" }
detekt = { id = "io.gitlab.arturbosch.detekt", version.ref = "detekt" }
