name: "Release: Prepare"

on:
  workflow_dispatch:

jobs:
  release:
    name: "Prepare Release"

    permissions:
      # actions/checkout@v4
      # git push
      contents: write
      # gh pr create
      pull-requests: write
      # gh pr create
      # https://github.com/TWiStErRob/net.twisterrob.ghlint/settings/actions
      # Allow GitHub Actions to create and approve pull requests: Enabled

    runs-on: ubuntu-latest
    timeout-minutes: 2
    
    defaults:
      run:
        shell: bash

    steps:

      - name: "Checkout ${{ github.ref }} branch in ${{ github.repository }} repository."
        uses: actions/checkout@v4

      - name: "Prepare changes."
        id: changes
        run: |
          # Remove -SNAPSHOT suffix in gradle.properties version.
          sed -re 's/^(project.version=[0-9]+\.[0-9]+\.[0-9]+)-SNAPSHOT$/\1/' -i gradle.properties
          version=$(grep -P --only-matching '(?<=project.version=)(.*)' gradle.properties)
          echo "version=${version}" >> "${GITHUB_OUTPUT}"

      - name: "Prepare git for ${{ env.VERSION }}."
        env:
          VERSION: ${{ steps.changes.outputs.version }}
          GIT_USER: ${{ github.actor }}
          GIT_EMAIL: ${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com
          GIT_BRANCH: release
        run: |
          git config user.name "${GIT_USER}"
          git config user.email "${GIT_EMAIL}"
          git checkout -b "${GIT_BRANCH}"
          git add gradle.properties
          git commit -m "Release v${VERSION}"
          git push origin HEAD:"${GIT_BRANCH}" -u -f

      - name: "Create Release pull request."
        env:
          GH_TOKEN: ${{ github.token }}
          PR_BASE_BRANCH: main
          PR_TITLE: "Release v${{ steps.changes.outputs.version }}"
          PR_BODY: |
            Prepare release changes for ${{ steps.changes.outputs.version }}.
            When merged to `main`, it'll trigger the [publishing workflow][publish].
            
            -- This PR was created by a [GitHub Actions Workflow][prepare] [run][prepare-run], see [Release Process][releasing].
            
            [releasing]: ${{ github.server_url }}/${{ github.repository }}/blob/main/docs/RELEASING.md
            [prepare]: ${{ github.server_url }}/${{ github.repository }}/actions/workflows/release-prepare.yml
            [publish]: ${{ github.server_url }}/${{ github.repository }}/actions/workflows/release-publish.yml
            [prepare-run]: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
        run: |
          set -x
          link=$(gh pr create \
            --title "${PR_TITLE}" \
            --body "${PR_BODY}" \
            --base "${PR_BASE_BRANCH}")
          echo "::notice title='${PR_TITLE}' PR created::${link}" 
