name: "GH-Lint"

on:
  workflow_dispatch:

jobs:
  ghlint:
    name: "Validate GitHub Workflows"

    permissions:
      # actions/checkout
      contents: read
      # github/codeql-action/upload-sarif
      security-events: write
      # github/codeql-action/upload-sarif in private repositories / internal organizations.
      actions: read

    runs-on: ubuntu-latest
    timeout-minutes: 2
    defaults:
      run:
        shell: bash
    steps:

      - name: "Checkout ${{ github.ref }} branch in ${{ github.repository }} repository."
        uses: actions/checkout@v4

      - name: "Set up Java."
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin

      - name: "Download validator."
        env:
          GHLINT_VERSION: "0.1.0"
        run: |
          curl --silent --show-error --location --remote-name \
              https://github.com/TWiStErRob/net.twisterrob.ghlint/releases/download/v${GHLINT_VERSION}/ghlint.jar
          chmod +x ghlint.jar

      - name: "Run validator."
        run: find ".github/workflows" -type f -name "*.yml" | xargs ./ghlint.jar

      - name: "Upload 'GH-Lint Results' artifact."
        uses: actions/upload-artifact@v4
        with:
          name: 'GH-Lint Results'
          if-no-files-found: error
          path: |
            report.sarif

      - name: "Publish 'GH-Lint' GitHub Code Scanning analysis."
        uses: github/codeql-action/upload-sarif@v3
        with:
          checkout_path: ${{ github.workspace }}
          sarif_file: ${{ github.workspace }}/report.sarif
