name: "GH-Lint"

on:
  workflow_dispatch:
  push:
  pull_request:
    paths:
      - ".github/workflows/usage.yml"

jobs:
  ghlint:
    name: "Validate GitHub Workflows"

    permissions:
      # actions/checkout
      contents: read
      # github/codeql-action/upload-sarif
      security-events: write
      # github/codeql-action/upload-sarif in private repositories / internal organizations.
      actions: read

    runs-on: ubuntu-latest
    timeout-minutes: 2
    defaults:
      run:
        shell: bash
    steps:

      - name: "Checkout ${{ github.ref }} branch in ${{ github.repository }} repository."
        uses: actions/checkout@v4

      - name: "Run validator."
        uses: ./actions/ghlint

      - name: "Upload 'GH-Lint Results' artifact."
        if: ${{ success() || failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: 'GH-Lint Results'
          if-no-files-found: error
          path: |
            report.sarif

      - name: "Publish 'GH-Lint' GitHub Code Scanning analysis."
        if: ${{ success() || failure() }}
        uses: github/codeql-action/upload-sarif@v3
        with:
          checkout_path: ${{ github.workspace }}
          sarif_file: ${{ github.workspace }}/report.sarif
